'context-menu':
  'atom-text-editor': [{
    label: 'Sort CSS properties'
    command: 'atom-csscomb:execute'
  }]

'menu': [{
  'label': 'Packages'
  'submenu': [
    'label': 'CSSComb'
    'submenu': [{
      label: 'Sort CSS properties',
      command: 'atom-csscomb:execute'
    }]
  ]
}]
