'context-menu':
  'atom-workspace': [{
    label: 'Sort properties'
    command: 'atom-csscomb:execute'
  }]

'menu': [{
  'label': 'Packages'
  'submenu': [
    'label': 'CSSComb'
    'submenu': [{
      label: 'Sort properties',
      command: 'atom-csscomb:execute'
    }]
  ]
}]
